@media (max-width: 768px) {
    body {
        flex-direction: column;
        height: 100vh;
        gap: 20px;
    }

    .secao {
        width: 100%;
        text-align: center;
        align-items: center;
        height: auto;
    }

    .secao h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .secao form {
        width: 80%;
        max-width: 400px;
        align-self: center;
    }

    .secao form label,
    .secao form p {
        text-align: start;
    }
}